footer {
  background-color: #af6a67;
  font-size: 35px;
  padding: 2rem 3rem;
  color: white;
  text-align: center;
}

.svgContainer {
  display: flex;
  justify-content: center;
  gap: 4rem;
  padding: 1rem;
}

.svgContainer > svg {
  max-width: 3rem;
}
