header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blue;
    font-size: 30px;
    padding: 1.5rem 3rem;
    color: white;
    
}

.pageButtons {
    display: flex;
    gap: 2rem;
}

.pageButton {
    text-decoration: none;
    color: white;
    font-size: 26px;
}

.pageButton:hover {
    text-decoration-line: underline;
}