.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}

.shopItems {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 3rem;
}

.sampleCard {
    background-color: white;
    border-radius: 1rem;
    text-align: center;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-wrap: wrap;
    max-width: 20rem;
    padding: 3em 0;
}

.imageHolder {
    width: 150px;
    height: 150px;
    overflow: hidden;
}

.imageHolder img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}